.header {
	background-color: #2a3eb1;
	color: white;
	padding: 10px;
	margin: 0;
}

.post_card {
	margin: 5px;
	max-width: 450px;
}

.media {
	height: 0;
	padding-top: 56.25%;
}

.featured {
	min-width: 100px;
	height: 482px;
	position: relative;
	color: white;
	border-radius: 8px;
	padding: 0;

	background-color: rgb(0 0 0 / 45%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('/12.jpg');
}

.featured::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	background-color: rgb(0 0 0 / 45%);
	left: 0;
	height: 100%;
	top: 0;
	z-index: 2;
	border-radius: 8px;
}

.featured_info {
	padding: 32px 32px 32px;
	bottom: 0;
	position: absolute;
	z-index: 2;
	border-radius: 0 0 8px 8px;
}

h2.posts_title {
	font-size: 1.33rem;
	margin-bottom: 20px;
}

.feature_image {
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 8px;
}

.features {
	margin-top: 32px;
	margin-bottom: 32px;
}

.chip_tags {
	margin: 5px;
}

h1.post_title {
	font-size: 40px;
	font-weight: 700;
}
